* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body {
}
.container {
  width: 100%;
  max-width: 360px;
  height: 640px;
  margin: auto;
  padding: 10px 15px;
  background: linear-gradient(110.6deg, #2a4032 0.81%, #3a5e46 100%);
  color: white;
  position: relative;
}
.year {
  color: grey;
  font-size: 30px;
}

h1 {
  font-size: 60px;
  line-height: 50px;
  margin-bottom: 10px;
}
.open {
  width: 180px;
  height: 49px;
  background: rgba(253, 222, 103, 1);
  border-radius: 6px;
  align-content: space-around;
  text-align: center;
  margin-top: 30px;
  z-index: 4;
}
.open a {
  color: black;
  font-size: 14px;
}
.casket {
  display: flex;
  margin-left: 0px;
}
.greenman {
  position: absolute;
  width: 208.08px;
  height: 391px;
  margin-top: 49px;
  margin-left: 60.96px;
  z-index: 3;
}

.circlegreen-1 {
  width: 192.63px;
  height: 192.63px;
  border-radius: 50%;
  background: rgba(27, 45, 34, 1);
  position: absolute;
  margin-top: 98.31px;
  margin-left: 125.15px;
  z-index: 1;
}
.circlegreen-2 {
  width: 198.55px;
  height: 198.55px;
  border-radius: 50%;
  background: rgba(27, 45, 34, 1);
  position: absolute;
  margin-top: 159.4px;
  margin-left: 12.22px;
  z-index: 2;
}
.bolet {
  list-style: none;
  display: flex;
  position: absolute;
  margin-top: 355px;
  margin-left: 130px;
  z-index: 5;
}
.bolet li {
  padding-right: 15px;
  align-content: space-around;
}
.circlewhite {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
}
.circle-1 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.menu {
  width: 360px;
  height: 48px;
  margin-top: 361px;
  margin-left: -15;
  background: rgba(253, 222, 103, 1);
}
.menubar {
  list-style: none;
  display: flex;
  position: fixed;
  padding: 10px 10px;
  gap: 55px;
}

.row-2 {
  background: black;
  width: 360px;
  height: 34px;
  margin-top: 15px;
}

.berands {
  list-style: none;
  display: flex;
  gap: 20px;
}
