* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
  font-family: Lato;
}

.container {
  width: 100%;
  max-width: 360px;
  height: 640px;
  margin: auto;
  padding: 10px 15px;
  background: linear-gradient(110.6deg, #2a4032 0.81%, #3a5e46 100%);
  color: white;
  position: relative;
}
.year {
  color: grey;
  font-size: 30px;
}

h1 {
  font-size: 60px;
  line-height: 50px;
  margin-bottom: 10px;
  letter-spacing: 13%;
}
.open {
  width: 180px;
  height: 49px;
  background: rgba(253, 222, 103, 1);
  border-radius: 6px;
  align-content: space-around;
  text-align: center;
  margin-top: 30px;
  z-index: 4;
}
.open a {
  color: black;
  font-size: 14px;
}
.casket {
  display: flex;
  margin-left: 0px;
}
.greenman {
  position: absolute;
  width: 208.08px;
  height: 391px;
  margin-top: 49px;
  margin-left: 60.96px;
  z-index: 3;
}

.circlegreen-1 {
  width: 192.63px;
  height: 192.63px;
  border-radius: 50%;
  background: rgba(27, 45, 34, 1);
  position: absolute;
  margin-top: 98.31px;
  margin-left: 125.15px;
  z-index: 1;
}
.circlegreen-2 {
  width: 198.55px;
  height: 198.55px;
  border-radius: 50%;
  background: rgba(27, 45, 34, 1);
  position: absolute;
  margin-top: 159.4px;
  margin-left: 12.22px;
  z-index: 2;
}
.bolet {
  list-style: none;
  display: flex;
  position: absolute;
  margin-top: 355px;
  margin-left: 130px;
  z-index: 5;
}
.bolet li {
  padding-right: 15px;
  align-content: space-around;
}
.circlewhite {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
}
.circle-1 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.menu {
  width: 360px;
  height: 48px;
  margin-top: 361px;
  margin-left: -15;
  background: rgba(253, 222, 103, 1);
  position: relative;
}
.menubar {
  list-style: none;
  display: flex;
  position: absolute;
  padding: 10px 10px;
  gap: 55px;
}

.row-2 {
  background: black;
  width: 360px;
  height: 34px;
  margin-top: 15px;
}

.berands {
  list-style: none;
  display: flex;
  gap: 20px;
}

.row-3 {
  background: white;
  color: black;
  margin-bottom: 20px;
}
h2 {
  font-size: 32px;
  padding: 10px 0px;
  font-weight: 400px;
}
.Collection-1 {
  width: 330px;
  height: 410px;
  background: rgba(197, 194, 202, 1);
  border-radius: 24px;
  position: relative;
}
.comment {
  padding: 20px;
}

.bluejean {
  width: 197.28px;
  height: 339.03px;
  position: absolute;
  margin-top: 11px;
  margin-left: 66.5px;
}
.card-1 {
  width: 167px;
  height: 49px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 14px;
  align-content: space-around;
  text-align: center;
  position: absolute;
  margin-top: 280px;
  margin-left: 145px;
}
.Collection-2 {
  width: 330px;
  height: 245.61px;
  background: rgba(253, 222, 103, 1);
  border-radius: 24px;
  margin-top: 30px;
}
.comment-2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 160px;
  font-size: 18px;
  z-index: 2;
  text-align: center;
}
.comment-3 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700px;
  text-align: end;
  position: absolute;
  margin-top: 90px;
  margin-left: 190px;
}

.tshirtman {
  width: 189.66;
  height: 260.74;
  padding: 20px;
  position: absolute;
  margin-top: 5px;
  margin-left: 0px;
  padding: 20px;
  z-index: 1;
}
.plus {
  margin-top: 160px;
  margin-left: 145px;
  z-index: 3;
}

.row-4 {
  height: 399px;
  background: rgba(233, 233, 233, 1);
  margin-top: 140px;
  color: black;
  font-family: Lato;
}

.bestseller {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.sell {
  width: 227.75px;
  height: 271px;
}
.sell-1 {
  background-color: white;
  width: 227.75px;
  height: 220px;
  border-radius: 24px;
  align-content: space-around;
  text-align: center;
  position: relative;
}

.favorit {
  width: 56px;
  height: 56px;
  background-color: white;
  position: absolute;
  margin-left: 172px;
  margin-top: -34px;
  border-radius: 50%;
  text-align: center;
  align-content: space-around;
}
.slimoff {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: space-between;
}
.off {
  background: rgba(58, 94, 70, 1);
  width: 41px;
  height: 20px;
  border-radius: 6px;
  margin-left: 10px;
  margin-top: -45px;
  font-size: 12px;
  color: white;
  text-align: center;
  align-content: space-around;
}
.photo {
  width: 132.99px;
  height: 148.36px;
}
.title {
  margin-top: 15px;
  display: flex;
  gap: 35px;
  align-items: center;
  align-content: space-around;
  font-family: Roboto;
  /* justify-content: end; */
}

.trolley {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: rgba(253, 222, 103, 1);
  text-align: center;
  align-content: space-around;
}
.row-5 {
  height: 210px;
  background: rgba(59, 95, 71, 1);
  text-align: center;
  align-content: space-around;
  /* font-family: Roboto; */
}
.calendar {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}
.calendar li {
  text-align: center;
  align-content: space-around;
}
.timer {
  width: 54px;
  height: 82px;
  text-align: center;
  align-content: space-around;
  font-size: 12px;
}
.boxgreen {
  width: 100%;
  height: 54px;
  background: rgba(24, 24, 24, 0.25);
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: center;
  align-content: space-around;
}
.menubar,
.headeroff,
.daller {
  display: none;
}

@media screen and (min-width: 361px) and (max-width: 2540px) {
  .container {
    width: 1540px;
    max-width: 1540px;
    height: 748.26px;
    margin: auto;
    background: linear-gradient(110.6deg, #2a4032 0.81%, #3a5e46 100%);
    position: relative;
  }
  .rowheader {
    width: 1540px;
    max-width: 1540px;
    height: 748.26px;
    margin: auto;
  }
  .menuheader {
    width: 1230px;
    margin: auto;
    display: block;
    margin-top: 20px;
    align-items: center;
    align-content: space-between;
  }
  .buz {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 417px;
    align-items: center;
  }
  .Etalon {
    font-size: 36px;
    display: block;
  }
  .listbar {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    color: rgba(255, 255, 255, 0.3);
  }
  .home {
    color: white;
  }
  .trolyeheader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(253, 222, 103, 1);
    text-align: center;
    align-content: space-around;
  }
  .year {
    font-size: 60px;
    margin-top: 100px;
    font-style: italic;
  }
  .daller {
    font-size: 36px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: -20px;
    margin-left: 635px;
  }
  .foo {
    line-height: 50px;
    font-size: 25px;
  }
  h1 {
    font-size: 112px;
    line-height: 100px;
    margin-top: 40px;
    letter-spacing: 10px;
  }
  .open {
    line-height: 16px;
  }
  .greenman {
    width: 342.16px;
    height: 619.63px;
    /* margin-top: -282px; */
    margin-top: -492px;
    margin-left: 710px;
  }
  .circlegreen-1 {
    width: 308.6px;
    height: 308.6px;
    margin-top: -366px;
    margin-left: 820px;
  }
  .circlegreen-2 {
    width: 318.8px;
    height: 318.8px;
    margin-top: -268px;
    margin-left: 645px;
  }
  .headeroff {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: rgba(253, 222, 103, 1);
    display: block;
    color: black;
    font-family: Roboto;
    line-height: 30.47px;
    position: absolute;
    text-align: center;
    align-content: space-around;
    font-size: 26px;
    font-weight: bold;
    margin-top: -375px;
    margin-left: 712px;
    z-index: 6;
  }
  .bolet {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
    position: absolute;
    margin-top: -290px;
    margin-left: 1210px;
  }
  .arrowbox {
    display: flex;
    gap: 15px;
    position: absolute;
    margin-top: 55px;
    margin-left: 665px;
  }
  .menu {
    display: none;
  }
  .row-2 {
    width: 1540px;
    max-width: 1540px;
    margin: auto;
    height: 100px;
    background: rgba(24, 24, 24, 1);
  }
  .mark {
    width: 1320px;
    max-width: 1320px;
    margin: auto;
  }
  .berands {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
  }

  .logo {
    height: 40px;
  }
  .logo-1 {
    width: 165.13px;
  }
  .logo-2 {
    width: 257.98;
  }
  .logo-3 {
    width: 112px;
  }
  .logo-4 {
    width: 60px;
  }
  .logo-5 {
    width: 166.32px;
  }
  .logo-6 {
    width: 144.76px;
  }
  .row-3 {
    width: 1320px;
    max-width: 1540px;
    margin: auto;
    background: rgba(255, 255, 255, 1);
  }
  .row-3 h2 {
    margin-top: 30px;
  }
  .Collectioncards {
    display: flex;
    gap: 80px;
    margin-top: 30px;
  }
  .Collection-1 {
    width: 500px;
    height: 550.75px;
    font-size: 24px;
  }
  .bluejean {
    width: 278.66px;
    height: 478.88px;
    margin-top: 2px;
    margin-left: 110.67px;
  }
  .card-1 {
    margin-left: 310px;
    margin-top: 408px;
  }
  .Collection-2 {
    width: 740px;
    height: 550.75px;
    margin-top: 0;
  }
  .tshirtman {
    width: 455.14px;
    height: 550.12px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .comment-2 {
    margin-left: 475px;
    margin-top: 80px;
    font-size: 24px;
  }
  .comment-3 {
    margin-top: 250px;
    margin-left: 475px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
  }
  .plus {
    margin-left: 545px;
    margin-top: 475px;
  }
  .row-4 {
    width: 1540px;
    max-width: 1540px;
    margin: auto;
    background: rgba(233, 233, 233, 1);
  }
  .part4 {
    width: 1320px;
    max-width: 1320px;
    height: 644px;
    margin: auto;
    margin-top: 52px;
  }
  .sell {
    width: 303.75px;
    height: 407px;
    margin-top: 30px;
  }
  .bestseller {
    display: flex;
    gap: 35px;
  }
  .sell-1 {
    width: 303.75px;
    height: 347px;
    border-radius: 24px;
    background-color: white;
  }
  .photo {
    width: 214.34px;
    height: 238.99px;
  }
  .price {
    font-size: 18px;
  }
  .title {
    justify-content: space-between;
  }
  .fee {
    color: rgba(0, 0, 0, 0.6);
  }
  .befor {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.2);
    padding-right: 10px;
  }
  .favorit {
    margin-top: -50px;
    margin-left: 240px;
  }
  .Products {
    width: 207px;
    height: 49px;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-size: 14px;
    align-content: space-around;
    text-align: center;

    position: absolute;
    margin-top: -68.5px;
    margin-left: 660px;
  }
  .row-5 {
    width: 1540px;
    height: 449.47px;
    background: rgba(59, 95, 71, 1);
  }
  .end {
    width: 1540px;
    max-width: 1540px;
    height: 449.47px;
    margin: auto;
    display: flex;
  }
  .yellowbox {
    width: 500px;
    height: 449.47px;
    background: rgba(253, 222, 103, 1);
    margin-top: -10px;
    margin-left: -15px;
    text-align: center;
    align-content: space-around;
  }
  .endcoment {
    line-height: 190px;
  }

  .sellshoe h2 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: bold;
    color: black;
  }

  .brownshoe {
    width: 500px;
    height: 213.47px;
    margin-left: 100px;
  }
  .greenbox {
    width: 1040px;
    /* text-align: center;
    align-content: space-around; */
  }
  .greenbox h2 {
    margin-left: -255px;

    font-size: 64px;
    color: white;
  }

  .timer {
    width: 153.5px;
    height: 152px;
  }
  .timer a {
    font-size: 24px;
  }
  .boxgreen {
    width: 153.5px;
    height: 112px;
    font-size: 64px;
  }
}
